.furniture-form {
    width: 80%;
    margin: auto;
}

.user-dp {
    max-width: 75px;
    width: 75px;
    object-fit: cover;
    margin: auto;
    border-radius: 50%;
    height: 75px;
}

#dp-div {
    max-width: 75px;
    width: 75px;
    margin: auto;
    border-radius: 50%;
    position: relative;
}

.cross {
    position: absolute;
    top: -21px;
    right: -29px;
    font-size: 20px;
    font-weight: bold;
    user-select: none;
    cursor: pointer;
    display: none;
}

#dataTableShowing {
    font-size: 14.6px;
    text-align: center !important;
}

#dataTableShowing thead th {
    font-size: 15px;
    text-align: center !important;
}

.user-profile-pic {
    max-width: 35px;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    margin: auto;
}

.even .comment {
    max-height: 47px;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    margin-bottom: 0;
}

.odd .comment {
    max-height: 70px;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    margin-bottom: 0;
}

.action-btn {
    padding: 3px;
}

.edit {
    color: #009fff;
}

.trash {
    color: #ff3636;
}

.fas:hover {
    color: black;
}

.add-btn {
    margin-left: auto !important;
    display: block !important;
    margin-bottom: 10px !important;
}