.furniture-form {
    width: 80%;
    margin: auto;
}

.user-dp {
    max-width: 75px;
    width: 75px;
    object-fit: cover;
    margin: auto;
    border-radius: 50%;
    height: 75px;
}

#dp-div {
    max-width: 75px;
    width: 75px;
    margin: auto;
    border-radius: 50%;
    position: relative;
}

.cross {
    position: absolute;
    top: -21px;
    right: -29px;
    font-size: 20px;
    font-weight: bold;
    user-select: none;
    cursor: pointer;
    display: none;
}

#dataTableShowing {
    font-size: 14.6px;
    text-align: center !important;
}

#dataTableShowing thead th {
    font-size: 15px;
    text-align: center !important;
}

.user-profile-pic {
    max-width: 35px;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    margin: auto;
}

.even .comment {
    max-height: 47px;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    margin-bottom: 0;
}

.odd .comment {
    max-height: 70px;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    margin-bottom: 0;
}

.action-btn {
    padding: 3px;
}

.edit {
    color: #009fff;
}

.trash {
    color: #ff3636;
}

.fas:hover {
    color: black;
}

.add-btn {
    margin-left: auto !important;
    display: block !important;
    margin-bottom: 10px !important;
}

body {
    /* background-color: #8BC6EC; */
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
}

body {
    background: linear-gradient(rgba(87, 87, 87, 0.5), rgba(170, 170, 170, 0.5)), url("../images/background.png") center center/cover;
}

.main-header,
.main-footer {
    border-color: #8BC6EC !important;
}

.main-header,
.content-header,
.content-wrapper,
.content,
.main-footer {
    background: transparent !important;
    color: white !important;
}

input,
textarea,
select,
.custom-file-label,
.custom-file-label::after {
    background: #888 !important;
    color: black !important;
    border-color: #888 !important;
}

input:focus {
    outline: none;
}

.main-sidebar {
    background: url("../images/abstract-textured-backgound_1258-30491.png") center center/cover;
}